<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <%= plastics.userName%>
    </p>
    <p>
      <%= plastics.plastic_bottles * 365%>
    </p>
    <p>
      <%= plastics.plastic_cups  * 365%>
    </p>
    <p>
      <%= plastics.straws  * 365%>
    </p>
    <p>
      <%= plastics.resealable_plastic_bags * 365%>
    </p>
    <p>
      <%= plastics.cling_wrap * 365%>
    </p>
    <p>
      <%= plastics.cutlery * 365%>
    </p>
    <p>
      <%= plastics.stirrers * 365%>
    </p>
    <p>
      <%=  plastics.takeout_food_containers * 365%>
    </p>
    <p>
      <%= plastics.grocery_bags * 365%>
    </p>
  </body>
</html>
