<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>myPlastics</title>

    <link rel="stylesheet" type="text/css" href="/main.css">

  </head>
  <body>

    <div class="main">

      <div class="header">
        <% include ./partials/nav.ejs %>

        <div id="jellyfish" class="top">
          <div class="heading">
            <h1>SOLUTIONS</h1>
          </div>
        </div>
      </div>


      <div class="container">


        <div class="userResults">
          <div id="graph">
            <div>
              <h2><%= plastics.userName %>'s Plastic Footprint for One Year</h2>
            </div>
            <div class="userChart">

            </div>
          </div>

          <div id="results">
            <h2><%= plastics.userName %>, your total plastic item count for one year is <br/>

            <span id="total"><%= 52 * (plastics.plastic_bottles + plastics.plastic_cups + plastics.straws + plastics.resealable_plastic_bags + plastics.cling_wrap + plastics.cutlery + plastics.stirrers + plastics.takeout_food_containers + plastics.grocery_bags) %> items.</span></h2>

            <p>
              A peer-reviewed <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5517107/">study from 2017</a> that was published in <a href="http://advances.sciencemag.org/">Science Advances</a> Journal indicates that of the total plastics that are produced and consumed:
            </p>

            <ul>
              <li>only <span class="num">9%</span> is recycled,</li>
              <li><span class="num">12%</span> is burned- which is toxic for the air we breathe,</li>
              <li> and a shocking <span class="num">79%</span> accumulates in landfills or the natural environment.</li>
            </ul>

            <p>
              These numbers can be overwhelming, but don't worry! We can be on our way to improving these standards with just a few habitual changes.
              If you would like to find out how you can make a positive impact on the environment, please read below!
            </p>

          </div>
        </div>

        <div class="solutions">
          <div class="habit">
            <h2>Header</h2>
            <img src="" alt="">
            <span>solution text here.</span>
          </div>
          <div class="habit">
            <h2>Header</h2>
            <img src="" alt="">
            <span>solution text here.</span>
          </div>
          <div class="habit">
            <h2>Header</h2>
            <img src="" alt="">
            <span>solution text here.</span>
          </div>
          <div class="habit">
            <h2>Header</h2>
            <img src="" alt="">
            <span>solution text here.</span>
          </div>
          <div class="habit">
            <h2>Header</h2>
            <img src="" alt="">
            <span>solution text here.</span>
          </div>
          <div class="habit">
            <h2>Header</h2>
            <img src="" alt="">
            <span>solution text here.</span>
          </div>
        </div>

      </div>






      <div style="display:none;"   class="data">
        <p  id="userId">
          <%= plastics._id%>
        </p>

        <p>
          <%= plastics.userName%>
        </p>
        <p class="results">
          <%= plastics.plastic_bottles * 52%>
        </p>
        <p class="results">
          <%= plastics.plastic_cups  * 52%>
        </p>
        <p class="results">
          <%= plastics.straws  * 52%>
        </p>
        <p class="results">
          <%= plastics.resealable_plastic_bags * 52%>
        </p>
        <p class="results">
          <%= plastics.cling_wrap * 52%>
        </p>
        <p class="results">
          <%= plastics.cutlery * 52%>
        </p>
        <p class="results">
          <%= plastics.stirrers * 52%>
        </p>
        <p class="results">
          <%=  plastics.takeout_food_containers * 52%>
        </p>
        <p class="results">
          <%= plastics.grocery_bags * 52%>
        </p>
      </div>

      <% include ./partials/footer.ejs %>



    </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script src="/js/userChart.js" charset="utf-8"></script>



  </body>
</html>
