<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>myPlastics</title>

    <link rel="stylesheet" type="text/css" href="/main.css">

  </head>
  <body>

    <div class="userChart">

    </div>

    <div   class="data">
      <p  id="userId">
        <%= plastics._id%>
      </p>

      <p>
        <%= plastics.userName%>
      </p>
      <p class="results">
        <%= plastics.plastic_bottles * 365%>
      </p>
      <p class="results">
        <%= plastics.plastic_cups  * 365%>
      </p>
      <p class="results">
        <%= plastics.straws  * 365%>
      </p>
      <p class="results">
        <%= plastics.resealable_plastic_bags * 365%>
      </p>
      <p class="results">
        <%= plastics.cling_wrap * 365%>
      </p>
      <p class="results">
        <%= plastics.cutlery * 365%>
      </p>
      <p class="results">
        <%= plastics.stirrers * 365%>
      </p>
      <p class="results">
        <%=  plastics.takeout_food_containers * 365%>
      </p>
      <p class="results">
        <%= plastics.grocery_bags * 365%>
      </p>
    </div>






    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script src="/js/userChart.js" charset="utf-8"></script>



  </body>
</html>
